# Python
venv/
__pycache__/
*.pyc

# Базы данных
*.db

# Загруженные файлы
app/static/uploads/

# Временные скрипты
add_*.py
fix_*.py
check_*.py
create_*.py
test_*.py
update_*.py
change_*.py
move_*.py
remove_*.py
restore_*.py
simplify_*.py
force_*.py
hide_*.py
get_token.py
remove_badges.py
replace_loaddata.py
download_*.py

# Environment.env
